@import "tailwindcss";

@layer theme {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    font-family: "Montserrat", system-ui, sans-serif;

    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);

    --card: hsl(0 0% 98%);
    --card-foreground: hsl(0 0% 0%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 0%);

    --primary: hsl(0, 100%, 50%);
    --primary-foreground: hsl(0 0% 100%);
    --primary-medium: hsl(2, 100%, 38%);

    --secondary: hsl(0 0% 10%);
    --secondary-foreground: hsl(0 0% 100%);

    --yellow: hsl(51, 100%, 50%);

    --muted: hsl(0 0% 96%);
    --muted-foreground: hsl(0 0% 40%);

    --gray: hsl(0, 0%, 12%);

    --accent: hsl(0 100% 50%);
    --accent-foreground: hsl(0 0% 100%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 100%);

    --border: hsl(0 0% 90%);
    --input: hsl(0 0% 90%);
    --ring: hsl(0 100% 50%);

    --gradient-primary: linear-gradient(
      135deg,
      hsl(0, 100%, 50%),
      hsl(0, 100%, 35%)
    );
    --shadow-red: 0 10px 40px -10px hsl(0 100% 50% / 0.4);
    --shadow-elegant: 0 20px 60px -15px hsl(0 0% 0% / 0.3);
  }
}

@layer utilities {
  .hover-bg-gradient-primary:hover {
    background: var(--gradient-primary);
    color: white;
  }

  .bg-gradient-primary {
    background: var(--gradient-primary);
  }

  .shadow-custom {
    box-shadow: 0px 6px 16px 0px #00000026;
  }

  .hover-shadow-custom:hover {
    box-shadow: 0px 6px 16px 0px #00000026;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    opacity: 1;
  }
}
