@import "tailwindcss";

@layer theme {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    font-family: "Montserrat", system-ui, sans-serif;

    --background: #ffffff;
    --foreground: #000000;

    --card: #fafafa;

    --primary: #ff0000;
    --primary-foreground: #ffffff;
    --primary-medium: #c20600;

    --secondary: #1a1a1a;
    --secondary-foreground: #ffffff;

    --button-primary: #e7000b;
    --button-primary-medium: #c10007;

    --yellow: #ffd900;

    --muted: #f5f5f5;
    --muted-foreground: #666666;

    --border: #e6e6e6;

    --input: #e6e6e6;
    --ring: #ff0000;

    --gradient-primary: linear-gradient(
      135deg,
      hsl(0, 100%, 50%),
      hsl(0, 100%, 35%)
    );
  }
}

@layer utilities {
  .hover-bg-gradient-primary:hover {
    background: var(--gradient-primary);
    color: white;
  }

  .bg-gradient-primary {
    background: var(--gradient-primary);
  }

  .shadow-custom {
    box-shadow: 0px 6px 16px 0px #00000026;
  }

  .hover-shadow-custom:hover {
    box-shadow: 0px 6px 16px 0px #00000026;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: white !important;
    width: 24px !important;
    height: 24px !important;
  }

  .pagination-bullet-review .swiper-pagination-bullet-active {
    background: var(--primary) !important;
    opacity: 1;
  }
}
